.App {
  text-align: start; 
}

.App-header {
  min-height: 100vh;
  align-items: flex-start;
  justify-content: flex-start;
}

.container{
  display: flex;
  flex-direction: row;
  margin: 10px;
  background-color: hsl(0, 0%, 100%);
  width: 550px;
  border-radius: 10px;
  height: 450px;
  font-size: 14px;
}

img{
  width: auto;
  height: auto;
  border-radius: 10px 0 0 10px;
}